html, body {
    scroll-behavior: smooth;
}

.mainbox {
    width: 960px;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #4E4E4E;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #F1F1F1;
}

.nav1 {
    color: #ffffff;
    position: absolute;
    left: 94px;
    font-weight: bold;
}

.nav2 {
    position: absolute;
    right: 90px;
    text-decoration: none;
}

.nav3 {
    position: absolute;
    right: 197px;
}

.nav4 {
    position: absolute;
    right: 292px;
}

.nav4:disabled {
    position: absolute;
    right: 292px;
}

.nav4:hover {
    cursor:not-allowed;
}

.landingbackground {
    background-image: url("https://i.picsum.photos/id/1041/1920/1080.jpg?hmac=Z1V-W_dSKG-bwS2QhtQAJuFC4-NijcvFb7-BriiV2J4");
    width: 100%;
    height: 100vh;

}

.bgshade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    position: relative;
}

.landingtext1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    position: absolute;
    left: 94px;
    top: 178px;
    display: flex;
    align-items: center;
    width: 550px;
}

.landingtext2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    position: absolute;
    left: 94px;
    top: 300px;
}

.landingbtn {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
    padding: 14px 57px;
    background-color: transparent;
    position: absolute;
    top: 362px;
    left: 94px;
    text-decoration: none;
}

.landingbtn:hover {
    transition: 1s;
    transition-timing-function: linear;
    background-color: #ffffff;
    color: #000000;
}

.aboutus {
    height: 700px;
    background-color: #F1F1F1;
    position: relative;
}

.aboutusbox {
    height: 550px;
    width: 775px;
    position: absolute;
    left: 95px;
    top: 51px;
}

.abouttext1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    width: 386px;
    color: #152D41;
    position: absolute;
}

.employee {
    width: 775px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.employee:nth-of-type(odd) {
    flex-direction: row-reverse;
    text-align: right;
}

.position1 {
    position: absolute;
    top: 113px;
}

.position2 {
    position: absolute;
    top: 350px;
}

.abouttext2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    width: 550px;
}

.abouttext3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    width: 550px;
}

.circle1 {
    height: 197px;
    width: 197px;
    border-radius: 50%;
    background-image: url("https://cdn.discordapp.com/attachments/386504882502369281/912622861586419742/osoba1.png");
    background-position: center;
    background-size: cover;
}

.circle2 {
    height: 197px;
    width: 197px;
    background-image: url("https://cdn.discordapp.com/attachments/386504882502369281/912623190528917574/unknown.png");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.ofertabackground {
    height: 690px;
    background-color: #405D78;
    position: relative;
}

.ofertatext {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    position: absolute;
    top: 50px;
    left: 110px;
}

.parentbox {
    width: 720px;
    height: 451px;
    position: absolute;
    top: 174px;
    left: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.boxdot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #E07A64;
    position: absolute;
    top: -11px;
    left: -11px;
}

.childbox {
    height: 194px;
    width: 198px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

.childbox:hover {
    transform: scale(1.05);
    transition: 0.5s;
    transition-timing-function: linear;
}

.box1text {
    width: 149px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 14px;

}

.box1textsmall {
    font-size: 18px;
    line-height: 1px;
}

footer {
    height: 71px;
    background-color: #4E4E4E;
    position: relative;  
    font-size: 30px;
    line-height: 21px; 
    color: #ffffff;
}

.footertext {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    position: absolute;
    top: 25px;
    left: 94px;
}

.fa-facebook-square {
    position: absolute;
    top: 24px;
    right: 82px;
}

.fa-instagram {
    position: absolute;
    top: 24px;
    right: 121px;
}

.pagelink {
    color: #ffffff;
    text-decoration: none;
}
